
{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}
        </div>


            <p>published: 15.04.2021, 18:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Лучшее время, чтобы посадить дерево, было 20 лет назад. Следующий подходящий момент - сегодня.</p>
            <p><strong><em>Китайская пословица</em></strong></p>
        </div>

        <div>
            <p>published: 15.04.2021, 18:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Поражение – <br>не поражение, если только вы не признаете его таковым в своем сознании.</p>
            <p><em><strong>Брюс Ли</strong></em></p>
        </div>
    </body>
</html>